.navbar-inverse {
    background-color: #08773b;
    border-color: #08773b;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text, .navbar-inverse .navbar-link {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color:#044f26;
}

.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color:#02381a;
}


.thumbnail {
    border:0px;
}

.create-animal {
    font-weight:normal;
}

.create-animal label {
    color: #666666;
    text-align: right;
    width: 45%;
    font-weight:normal;
    display: inline-block;
}

.create-animal .fieldcontain {
    margin-top: 1em;
    display:block;
}

.create-animal input, .create-animal select {
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

.create-animal select {
    padding: 0.2em 0.2em 0.2em 0;
}

 h1 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
    color: #48802c;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.1;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container-animal .buttons {
    margin-top:20px;
}

.adocao table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

.adocao th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
    text-align: left;
    vertical-align: top;
}

.adocao th a, .adocao th link {
    display: block;
    text-decoration: none;
    color:#08773b;
}

.adocao th.sortable a {
    padding-right: 1.1em;
}

.adocao tr>td:first-child, .adocao tr>th:first-child {
    padding-left: 1.25em;
}

.adocao td, .adocao th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

.adocao .odd {
    background: #f7f7f7;
}

 .property-label {
    font-weight:bold;
}